node_modules/
.expo/
.next/
*.log
.env
.env.local
.DS_Store
pos-app/node_modules/
pos-admin/node_modules/
pos-marketing/node_modules/
pos-backend/node_modules/
*.js
*.bat
ar-code-clone/
temp_clone_pos-app/
